{% extends "base-modal.html" %}
{% block modal_content %}
    {% csrf_token %}
    <div class="form-group">
        <label for="id_title">Name</label>
        <input id="id_title" class="form-control"
               type="text"
               name="title"
               maxlength="255"
               placeholder="Details here"
               required
            value="{{ object.title }}"  />
        <input type="hidden" name="author" value="{{ author }}" />
        <input type="hidden" name="none" value="" />
      </div>
{% endblock modal_content %}
