{% extends "base-admin.html" %}

{% block content %}
<form id="meal_form">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_title">Título</label>
        <input class="form-control" type="text" name="title" maxlength="255" required id="id_title"
        value="{{ form.title.value }}" placeholder="Titulo">
      </div>
    <input class="btn btn-success btn-icon-split" type="submit" value="Enviar" />
</form>



{% for meal in object_list %}
<div class="row">
     <div class="col-lg-12 mb-4">
            <div class="card bg-info text-white shadow">
                <div class="card-body">
                     {{meal.title }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock content %}
  {% block js %}
    <script>
        $("#meal_form").on("submit", saveMeal);

        function saveMeal(event){
            event.preventDefault();
            debugger;
            const url = "http://localhost:8000/dashboard/meals/create";
            const form = $(event.target);
            const data = form.serialize();
            $.ajax(
                {
                    url: url,
                    method: 'POST',
                    dataType: 'application/json',
                    data: JSON.stringify(data),
                }
            ).then(result => {
                console.log(result);
            });
        }
    </script>
  {% endblock js %}

</body>
</html>