{% extends "base-admin.html" %}
{% load i18n static %}
{% block content %}

{% block custom_head %}

<style>

.sweet-overlay{z-index:5000!important;}
.sweet-alert{z-index:5001!important;}

</style>
{% endblock custom_head %}
<div id="create_container"></div>
<div id="edit_container"></div>
<div id="wrapper">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">My Meals</h1>
        <div class="row">
            <div class="col-lg-12 mb-4">
                 <button class="btn btn-success float-right js-create-btn" >Create</button>
             </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Meals</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
  {% block js %}
    <script type="module">
        import Meal from '../static/js/meal.js';

        $(document).ready(function(){
            new Meal("{{ base_url }}", "{{ partial_names|safe }}");
        });
    </script>
  {% endblock js %}

</body>
</html>