{% extends "base-admin.html" %}

{% block custom_head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock custom_head %}

{% block content %}

<div id="create_container"></div>
<div id="wrapper">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Today's Menu</h1>
        <div class="row">
            <div class="col-lg-12 mb-4">
                 <button class="btn btn-success float-right" onClick="prepareModal({model: 'menu',mode: 'create', modal_container: 'create_container'})">Create</button>
             </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Menus</h6>
            </div>
            <div class="card-body">
                <div id="accordion">
                    {% for i, menu in object_list %}
                      <div class="card">
                        <div class="card-header" id="{{ menu.id }}">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ menu.id }}" aria-expanded="false" aria-controls="collapse{{ menu.id }}">
                               Menu day: {{ menu.scheduled_at|date:'Y-m-d' }}
                            </button>
                              <button class="btn btn-danger float-right" onClick="deleteMenu('{{ menu.id }}')">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                              </button>
                          </h5>
                        </div>
                        <div id="collapse{{ menu.id }}" class="collapse" aria-labelledby="{{ menu.id }}" data-parent="#accordion">
                          <div class="card-body">
                              ID: ({{ menu.id }})
                            <ul>
                                {% for meal in menu.meals.all %}
                                <li>
                                    {{ meal.title }}
                                </li>
                                {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
  {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        function escapeRegExp(str) {
            return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
        }
        function replaceAll(str, find, replace) {
            return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
        }
        const str = "{{ partial_names|safe }}";
        const scaped = replaceAll(str, "'", "\"");
        const partials = JSON.parse(scaped);
        const BASE_URL = '{{ base_url }}';
        console.log(partials);
        function addCreateListener(mode){
            $(`#${partials[mode].form_id}`).on("submit", function(e){
                saveMenu(e, mode, `${mode}_container`);
            });
            initSelect2("#id_meals");
        }


        function openModal(url, params){
            const { modal_container, mode } = params;
            $.ajax(
                {
                    url: url,
                    method: 'GET',
                }
            ).done((result, xhr, x2) => {
                console.log(result);
                $(`#${modal_container}`).html(result);
                $(`#${partials[mode].modal_id}`).modal('show');
                addCreateListener(mode);
            }).fail((result, xhr, x2) => {
                Swal.fire({
                  title: 'Modal failed!',
                  text: 'Error desconocido',
                  icon: 'error',
                });
            });
        }


        function prepareModal(params){
            const query = new URLSearchParams(params).toString();
            const url = `${BASE_URL}/dashboard/menus/${params.mode}/?${query}`;
            openModal(url, {
                modal_container: params.modal_container,
                model_name: params.model,
                mode: params.mode,
            });
        }

        function saveMenu(event, mode, modal_container){
            event.preventDefault();
            const modelId = $(event.target).data('modelId');
            const url = (modelId) ? `${BASE_URL}/api/menus/${modelId}/` : `${BASE_URL}/api/menus/`;
            const form = $(event.target);
            const data = form.serialize();
            const request = $.ajax(
                {
                    url: url,
                    method: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(data),
                }
            );
            request.done( async(result) => {
                console.log(result);
                $(`#${partials[mode].modal_id}`).modal('hide');
                $(`#${modal_container}`).html('');
                //document.removeEventListener('submit');
                await Swal.fire({
                  title: 'Action successful!',
                  text: 'OK!',
                  icon: 'success',
                });
                window.location.href = ''
            });
            request.fail((result, xhr, x2) => {
                const res = JSON.parse(result.responseText);
                if (result.status != 200){
                    Swal.fire({
                      title: 'Record failed!',
                      text: res.detail,
                      icon: 'error',
                    });
                }

            });
        }

        async function deleteMenu(menuId){
            const { isConfirmed } = await Swal.fire({
              title: 'Deletion!',
              text: 'Do you want to continue',
              icon: 'warning',
              confirmButtonText: 'Yes!'
            });
            const url = `{{ base_url }}/api/menus/${menuId}/`;
            if (isConfirmed){
                $.ajax(
                    {
                        url: url,
                        method: 'DELETE',
                        dataType: 'application/json',
                    }
                ).done((result, xhr, x2) => {
                    if(x2.status == 204){
                        //refresh table
                        Swal.fire({
                          title: 'Deletion successful!',
                          text: 'OK!',
                          icon: 'success',
                        });
                        window.location.href = ''
                    }
                }).fail((result, xhr, x2) => {
                    const res = JSON.parse(result.responseText)
                    Swal.fire({
                      title: 'Deletion failed!',
                      text: res.detail,
                      icon: 'error',
                    });
                });
            }

        }
        function initSelect2(target){
            $(target).select2({
                placeholder: 'Choose your meals:',
                allowClear: true,
                tags: true,
            });
        }

    </script>
  {% endblock js %}

</body>
</html>