{% extends 'base-admin.html' %}
{% load i18n %}
{% block title %}Sign in{% endblock title %}
{% block content %}
<!-- Nested Row within Card Body -->
<div class="row">
  <div class="col-12 d-lg-block">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Confirm your account</h1>
      </div>
      <p align="justify">You cannot enter to the platform yet, due to you have not confirmed your email. Please check your mail inbox and click on the confirmation link</p>
        {% if request.user.emailtoken.last_email_diff_hours > 6 %}
          <form class="user" method="POST" action="{% url 'account:email_unverified' %}">
            {% csrf_token %}
            <button class="btn btn-primary btn-user btn-block ">{% trans "Reset Email" %}</button>
          </form>
        {% endif %}

    </div>
  </div>
</div>
{% endblock %}
