{% extends "base-account.html" %}
{% load static %}
{% block title %}
  Confirmación Correo
{% endblock title %}
{% block content %}
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image-2"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Confirmation successfully</h1>
              <p>Your email has been confirmed already, now you can login</p>
              <hr>
              <a href="{% url 'account:login' %}" class="btn btn-primary btn-user btn-block">Enter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
