{% extends "base-account.html" %}
{% load static %}
{% block title %}
  Registro
{% endblock title %}
{% block content %}
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image-2"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Sign successfully</h1>
              <p>
                Now you must to confirm your email. Please check your email inbox and click on the confirmation link
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
