{% load i18n %}
{% if user.profile.gender == 0 %}
  {% trans "Estimada" %} {{ user.get_full_name|capfirst }}
{% else %}
  {% trans "Estimado" %} {{ user.get_full_name|capfirst }}
{% endif %}

Alguien solicitó restablecer la contraseña por correo electrónico {{ email }}. Sigue el enlace de abajo para continuar:
<a href="{{ protocol}}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}</a>
