{% extends 'base-account.html' %}
{% block title %}Restablecer contraseña{% endblock title %}
{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">

  <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-password-image-2"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Restaurar Contraseña</h1>
                <p class="mb-4">Sólo debes ingresar tu correo electrónico y te enviaremos un link para que puedas restaurarla.</p>
              </div>
              <form class="user" method="POST" action="{% url 'account:reset_password' %}">
                {% csrf_token %}
                {% if form.non_field_errors %}
                  <div class="alert alert-danger">
                    <strong>{{ form.non_field_errors }}</strong>
                  </div>
                {% endif %}
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Correo" name="email">
                  {% if form.email.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ form.email.errors }}</strong>
                  </div>
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Restaurar Contraseña
                </button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'account:sign_up' %}">Registrate</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'account:login' %}">Inicia Sesión</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}
